{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <h3 class="text-center" style="color: grey; padding: 20px;">MESSAGE</h3>
    <p class="text-center" style="font-size: 32px; padding: 20px;"><i>" {{query}}"</i></p>
{% endblock %}

{% block content %}
    <div>
            <div>
                <h1 class="text-center" style="color: grey;">Result</h1>
            </div>
            <div class="display-classes">
                {% for category, classification in classification_result.items() %}
                    {% if classification == 1 %}
                        <div class="box-classified">{{category.replace('_', ' ').title()}}</div>
                    {% else %}
                        <div class="box-not-classified">{{category.replace('_', ' ').title()}}</div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>

{% endblock %}
